@tailwind base;
@tailwind components;
@tailwind utilities;

/* .wrapper {


	
	

	display: flex;
} */
/* 
.dayWrapper {
	border: 1px solid #f1f5f7;
	width: 300px;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	font-size: small;
	font-weight: 700;
	color: #001537;
	padding-top: 5px;
} */
